<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Orga</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <div class="container border rounded d-flex">
        <div class="card border-primary text-center border rounded shadow visible mx-auto mt-3">
            <div class="card-body border rounded shadow">
                <h4 class="text-primary card-title">Chicken-Tool: Orga</h4>
                <p class="card-text">Wenn sie auf diese Seite zugreifen können sollten sie zur Orga gehören.<br></p>
                <p class="justify-content-start">Sie gehören zur folgenden Rolle:&nbsp;<span>Rolle</span><br></p>
                <form method="post" th:action="@{/logout}"><button class="btn btn-warning btn-bg" type="submit">Logout</button></form>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>